<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  routerLink="/home/{{this.idiomaSeleccionado}}"></ion-back-button>
    </ion-buttons>
    <ion-title>{{array[0].alta_duenio_Titulo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <img class = "icon" src="assets/icon/empleados2.png">

  <div class="" *ngIf="loading">
    <ion-spinner name="dots" color="dark" ></ion-spinner>
  </div>

  <div class="" *ngIf="!loading">

    <ion-item>
        <ion-label position="stacked">{{array[0].alta_duenio_Formulario_Nombre}}</ion-label>
          <ion-input
            [(ngModel)]="unUsuario.nombre"
            type="text"
            name="nombre"
            placeholder="{{array[0].alta_duenio_Formulario_Nombre}}"
          >
        </ion-input>
      </ion-item>

      <ion-item>
          <ion-label position="stacked">{{array[0].alta_duenio_Formulario_Apellido}}</ion-label>
            <ion-input
              [(ngModel)]="unUsuario.apellido"
              type="text"
              placeholder="{{array[0].Alta_Cliente_Formulario_PlaceHolder_Apellido}}"
              name="apellido"
            >
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">{{array[0].alta_duenio_Listado_DNI}}</ion-label>
              <ion-input
                [(ngModel)]="unUsuario.dni"
                type="text"
                placeholder="{{array[0].Alta_Cliente_Formulario_PlaceHolder_DNI}}"
                name="dni"
              >
              </ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">{{array[0].alta_duenio_Formulario_Cuil}}</ion-label>
            <ion-input
            [(ngModel)]="unUsuario.cuil"
            type="text"
            placeholder="{{array[0].alta_duenio_Formulario_Cuil}}"
            >
            </ion-input>
          </ion-item>

        <ion-item>
          <ion-label position="stacked">{{array[0].Alta_Cliente_Formulario_Texto_Correo}}</ion-label>
          <ion-input
            [(ngModel)]="unUsuario.email"
            type="text"
            placeholder="{{array[0].Alta_Cliente_Formulario_PlaceHolder_Correo}}"
            name="correo"
          >
          </ion-input>
        </ion-item>

        <ion-item>
            <ion-label>{{array[0].alta_duenio_Formulario_TipoDeEmpleado}}</ion-label>
            <ion-select [(ngModel)]="unUsuario.perfil" value="brown" okText="{{array[0].alta_mesa_btn_Aceptar}}" cancelText="{{array[0].alta_mesa_btn_Cancelar}}" placeholder="{{array[0].alta_duenio_Formulario_TipoDeEmpleado}}">
              <ion-select-option value="Supervisor">{{array[0].alta_duenio_Formulario_Select_OptionSupervisor}}</ion-select-option>
              <ion-select-option value="Dueño">{{array[0].alta_duenio_Formulario_Select_OptionDuenio}}</ion-select-option>
            </ion-select>
          </ion-item>

        <ion-item>
            <ion-button (click)="SacarFoto()">
              <ion-icon slot="icon-only" name="camera"></ion-icon>
            </ion-button>
        </ion-item>

        <ion-button
          expand="block"
          (click)="scanear()"
        >
        {{array[0].alta_empleado_Formulario_BTN_ScannerDNI}}
        </ion-button>

        <ion-button
        expand="block"
        (click)="enviar()"
        >
        {{array[0].alta_duenio_Formulario_BTN_Guardar}}
      </ion-button>

    </div>


    <ion-card *ngFor="let item of duenios">
        <span *ngIf="!item.isEdit; else elseBlock">
          <ion-card-header>
            <ion-card-title>{{array[0].alta_duenio_Titulo}} {{item.nombre}} - {{item.apellido}} </ion-card-title>
            <ion-card-subtitle>{{array[0].alta_duenio_Listado_Perfil}}: {{item.perfil}} - {{array[0].alta_duenio_Listado_DNI}}: {{item.dni}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
                <ion-button shape="round" color="danger" size="small" (click)="RemoveRecord(item.id)">
                  <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>
                </ion-button>
          </ion-card-content>
        </span>
        
      </ion-card>
    
</ion-content>
