<ion-header>
  <ion-toolbar>
    <ion-title>{{array[0].reset_password_titulo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="resetPasswordForm">
    <ion-item>
      <ion-label position="stacked">{{array[0].reset_password_email}}</ion-label>
      <ion-input
        formControlName="email"
        type="email"
        placeholder="{{array[0].reset_password_email}}"
        [class.invalid]="!resetPasswordForm.controls['email'].valid &&
        resetPasswordForm.controls['email'].touched"
      >
      </ion-input>
    </ion-item>
    <ion-item
      class="error-message"
      *ngIf="!resetPasswordForm.controls['email'].valid &&
      resetPasswordForm.controls['email'].touched"
    >
      <ion-label>{{this.idiomaSeleccionado}}</ion-label>
    </ion-item>

    <ion-button
      expand="block"
      (click)="resetPassword(resetPasswordForm)"
      [disabled]="!resetPasswordForm.valid"
    >
   {{ array[0].reset_password_titulo}}
    </ion-button>
  </form>
</ion-content>
