<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
      <ion-title>Aqui tiene la Cuenta...</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <!--<img class = "icon" src="assets/icon/mesa1.png">-->
    <div class="" *ngIf="loading">
        <ion-spinner name="dots" color="dark" ></ion-spinner>
    </div>
    <div class="" *ngIf="!loading">
 

      <ion-item>
          <ion-label>Mesa</ion-label>
          <ion-select disabled ="{{isEnabled}}"  [(ngModel)]="mimesa" ok-text="Seleccionar" (ngModelChange)="montoMesa()" cancel-text="Cancelar" >
              <ion-select-option  *ngFor="let item of  mesas" value="{{item.id}}"> Mesa {{item.codigo}} - {{item.tipo}}</ion-select-option>
          </ion-select>
      </ion-item>
      <ion-item>
        <ion-label readonly=true
        position="stacked">Descuento Postre</ion-label>
        <ion-input
          [(ngModel)]="preciounpostre"
          type="text"
          placeholder="Precio">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label readonly=true
        position="stacked">Descuento 10%</ion-label>
        <ion-input
          [(ngModel)]="preciocondescuento10"
          type="text"
          placeholder="Precio">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label readonly=false
        position="stacked">Descuento Bebida gratis</ion-label>
        <ion-input
          [(ngModel)]="preciounabebida"
          type="text"
          placeholder="Precio">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label readonly=true
        position="stacked">Descuento</ion-label>
        <ion-input
          [(ngModel)]="preciototalpedido"
          type="text"
          placeholder="Precio">
        </ion-input>
      </ion-item>
      <ion-item>
          <ion-label readonly=true position="stacked">Precio Sin Descuento</ion-label>
          <ion-input 
            [(ngModel)]="montoTotal" value={{mesaActual?.monto}}
            type="text"
           >
          </ion-input>
        </ion-item>
        <ion-item>
            <ion-label readonly=true
            position="stacked">Mi propina</ion-label>
            <ion-input
              [(ngModel)]="mipropina"
              type="text"
              placeholder="Valor propina">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label readonly=true style="color:red;font-size: 300%;"
            position="stacked">TOTAL </ion-label>
            <ion-input style="color:red;font-size: 300%;"
              [(ngModel)]="resultadototal"
              type="text"
              placeholder="Valor total">$
            </ion-input>
          </ion-item>


<!--           
      <ion-button
        expand="block"
        (click)="Pagar()">
        Pagar
      </ion-button> -->
      <ion-button
      expand="block"
      (click)="montoMesa()">
      Detalle
    </ion-button>
    <ion-button
    expand="block"
    (click)="Descuentos()">
    Mostrar Total Con Descuento
  </ion-button>
  <!-- <ion-button
  expand="block"
  (click)="cargarDatosqr()">
  Escanear propina
</ion-button> -->

  
    </div>
  
    <ion-card *ngFor="let item of pedidos">
      <!-- <span *ngIf="!item.isEdit; else elseBlock"> -->
        <span>
        <ion-card-header>
          <ion-card-title> Pedido {{item.codigoPedido}} - {{item.tipoPedido}} </ion-card-title>
          <ion-card-subtitle>Cantidad: {{item.cantidad}}</ion-card-subtitle>
          <ion-card-subtitle>Precio: {{item.monto}}</ion-card-subtitle>

        </ion-card-header>
     
      </span>

    </ion-card>
  
  
  </ion-content>