<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button  routerLink="/home/{{this.idiomaSeleccionado}}"
        ></ion-back-button>
      </ion-buttons>
      <ion-title>{{array[0].aqui_tiene_la_cuenta}}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <div class="" *ngIf="loading">
        <ion-spinner name="dots" color="dark" ></ion-spinner>
    </div>
    <div class="" *ngIf="!loading">
 

      <ion-item>
          <ion-label>{{array[0].abrir_mesa_mesa}}</ion-label>
          <ion-select disabled ="{{isEnabled}}"  [(ngModel)]="mimesa" okText="{{array[0].Seleccionar}}" (ngModelChange)="montoMesa()" cancelText="{{array[0].alta_mesa_btn_Cancelar}}" >
              <ion-select-option  *ngFor="let item of  mesas" value="{{item.id}}"> {{array[0].abrir_mesa_mesa}} {{item.codigo}} - {{item.tipo}}</ion-select-option>
          </ion-select>
      </ion-item>
      <ion-item>
        <ion-label readonly=true
        position="stacked">{{array[0].DescuentoPostre}}</ion-label>
        <ion-input
          [(ngModel)]="preciounpostre"
          type="text"
          placeholder="{{array[0].comida_list_Precio}}">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label readonly=true
        position="stacked">{{array[0].Descuento10}}</ion-label>
        <ion-input
          [(ngModel)]="preciocondescuento10"
          type="text"
          placeholder="{{array[0].comida_list_Precio}}">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label readonly=false
        position="stacked">{{array[0].DescuentoBebidagratis}}</ion-label>
        <ion-input
          [(ngModel)]="preciounabebida"
          type="text"
          placeholder="{{array[0].comida_list_Precio}}">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label readonly=true
        position="stacked">{{array[0].Descuento}}</ion-label>
        <ion-input
          [(ngModel)]="preciototalpedido"
          type="text"
          placeholder="{{array[0].comida_list_Precio}}">
        </ion-input>
      </ion-item>
      <ion-item>
          <ion-label readonly=true position="stacked">{{array[0].PrecioSinDescuento}}</ion-label>
          <ion-input 
            [(ngModel)]="montoTotal" value={{mesaActual?.monto}}
            type="text"
           >
          </ion-input>
        </ion-item>
        <ion-item>
            <ion-label readonly=true
            position="stacked">{{array[0].Mipropina}}</ion-label>
            <ion-input
              [(ngModel)]="mipropina"
              type="text"
              placeholder="">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label readonly=true style="color:red;font-size: 300%;"
            position="stacked">{{array[0].TOTAL}} </ion-label>
            <ion-input style="color:red;font-size: 300%;"
              [(ngModel)]="resultadototal"
              type="text"
              placeholder="">$
            </ion-input>
          </ion-item>



      <ion-button
      expand="block"
      (click)="montoMesa()">
      {{array[0].Detalle}}
    </ion-button>
    <ion-button
    expand="block"
    (click)="Descuentos()">
    {{array[0].MostrarTotalConDescuento}}
  </ion-button>


  
    </div>
  
    <ion-card *ngFor="let item of pedidos">
      <!-- <span *ngIf="!item.isEdit; else elseBlock"> -->
        <span>
        <ion-card-header>
          <ion-card-title> {{array[0].alta_pedido_pedido}} {{item.codigoPedido}} - {{item.tipoPedido}} </ion-card-title>
          <ion-card-subtitle>{{array[0].Cantidad}}: {{item.cantidad}}</ion-card-subtitle>
          <ion-card-subtitle>{{array[0].comida_detail_Precio}}: {{item.monto}}</ion-card-subtitle>

        </ion-card-header>
     
      </span>

    </ion-card>
  
  
  </ion-content>