<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button routerLink="/home/{{this.idiomaSeleccionado}}" ></ion-back-button>
      </ion-buttons>
      <ion-title>{{array[0].home_btn_TomarPedido}}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
      <h1>{{array[0].tomarpedidos_pendientes_de_aprobacion}}</h1>

  
    <ion-card *ngFor="let item of pedidos"  >
      <span *ngIf="!item.isEdit; else elseBlock" >
        <ion-card-header > 
          <ion-card-title> Pedido {{item.codigoPedido}} - {{item.tipoPedido}} </ion-card-title>
          <ion-card-subtitle>{{array[0].abrir_mesa_select_option_estado}}: {{item.estadoPedido}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content  >
            <ion-button shape="round" color="secondary" size="small" (click)="PedidoAprobado(item.id)">
            {{array[0].Habilitar_option_Aceptar}}
            </ion-button>
              <ion-button shape="round" color="danger" size="small" (click)="rechazarPedido(item.id)">
           {{array[0].Habilitar_Btn_Rechazar}}
              </ion-button>
        </ion-card-content>
      </span>
    
    </ion-card>

    <h1>{{array[0].tomarpedidos_listosParaEntregar}}</h1>
    <ion-card *ngFor="let item of pedidosentregar">
        <span *ngIf="!item.isEdit; else elseBlock">
          <ion-card-header>
            <ion-card-title> {{array[0].comida_detail_Descripcion}} {{item.codigoPedido}} - {{item.tipoPedido}} </ion-card-title>
            <ion-card-subtitle>{{array[0].abrir_mesa_select_option_estado}}: {{item.estadoPedido}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
              <ion-button shape="round" color="secondary" size="small" (click)="entregarPedido(item.id)">
              {{array[0].tomarpedidos_listosParaEntrega}}  
              </ion-button>
             
          </ion-card-content>
        </span>
       
      </ion-card>
  
  </ion-content>
  