<ion-header>
  <ion-toolbar>
    <ion-title>qrmesa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" color="primary" routerLink="/comida-create">
  Verificar Disponibilidad de Mesa
  </ion-button>
  <ion-button expand="block" color="primary" routerLink="/alta-duenio">
    Reservar la Mesa
  </ion-button>
  <ion-button expand="block" color="primary" routerLink="/alta-mesa">
    Verificar Estado del Pedido
  </ion-button>
  <ion-button expand="block" color="primary" routerLink="/alta-empleado">
   Acceder a Encuesta de Satisfaccion.
  </ion-button>

</ion-content>
