<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button routerLink="/comida-list/{{this.idiomaSeleccionado}}"></ion-back-button>
    </ion-buttons>
    <ion-title> {{array[0].comida_detail_Titulo}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{comidaActual?.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{array[0].comida_detail_Titulo}}: <strong>{{comidaActual?.description}}</strong></p>
      <p>{{array[0].comida_detail_Precio}}: <strong>{{comidaActual?.price | currency}}</strong></p>
      <p>{{array[0].comida_detail_Tiempo}}: <strong>{{comidaActual?.time}} "</strong></p>

    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let img of listaImagenes">
    <ion-img *ngIf="img.producto == comidaActual?.name" [src]="img.imgbase64">
    </ion-img>
  </ion-card>

</ion-content>
