<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/comida-list"></ion-back-button>
    </ion-buttons>
    <ion-title> Descripción
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{comidaActual?.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Descripcion: <strong>{{comidaActual?.description}}</strong></p>
      <p>Precio: <strong>{{comidaActual?.price | currency}}</strong></p>
      <p>Tiempo: <strong>{{comidaActual?.time}} minutos</strong></p>

      <ion-slides pager="true" [options]="slideOpts" >
          <ion-slide *ngFor="let img of listaImagenes">
            
            <ion-card *ngIf="img.producto == comidaActual?.name">
                <ion-card-header>
                  <ion-card-title></ion-card-title>
                </ion-card-header>
            
                <ion-card-content>
                    <ion-img [src]="img.imgbase64" >
    
                    </ion-img>
                    <p>Foto de producto: {{img.producto}}</p>
                    
                </ion-card-content>
            </ion-card>
          </ion-slide>        
        </ion-slides>

    </ion-card-content>
  </ion-card>
  <br>


</ion-content>
