<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/comida-list"></ion-back-button>
    </ion-buttons>
    <ion-title> Descripción
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{comidaActual?.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Descripcion: <strong>{{comidaActual?.description}}</strong></p>
      <p>Precio: <strong>{{comidaActual?.price | currency}}</strong></p>
      <p>Tiempo: <strong>{{comidaActual?.time}} minutos</strong></p>

    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let img of listaImagenes">
    <ion-img *ngIf="img.producto == comidaActual?.name" [src]="img.imgbase64">
    </ion-img>
  </ion-card>

</ion-content>
