<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  routerLink="/home/{{this.idiomaSeleccionado}}"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>{{array[0].alta_mesa_titulo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <img class = "icon" src="assets/icon/mesa1.png">
  <div class="" *ngIf="loading">
      <ion-spinner name="dots" color="dark" ></ion-spinner>
  </div>
  <div class="" *ngIf="!loading">
    <ion-item>
      <ion-label position="stacked">{{array[0].alta_mesa_TextoFormulario_codigo_de_mesa}}</ion-label>
      <ion-input
        [(ngModel)]="codigo"
        type="text"
        placeholder="{{array[0].alta_mesa_TextoFormulario_PlaceholderCodigoDeMesa}}"
      >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{array[0].alta_mesa_TextoFormulario_cantidad_de_personas}}</ion-label>
        <ion-select [(ngModel)]="cantPersonas" value="brown" okText="{{array[0].alta_mesa_btn_Aceptar}}" cancelText="{{array[0].alta_mesa_btn_Cancelar}}" placeholder="{{array[0].alta_mesa_TextoFormulario_PlaceholderseleccionarCantidadDePersonas}}">
          <ion-select-option value="1">1</ion-select-option>
          <ion-select-option value="2">2</ion-select-option>
          <ion-select-option value="3">3</ion-select-option>
          <ion-select-option value="4">4</ion-select-option>
          <ion-select-option value="5">5</ion-select-option>
          <ion-select-option value="6">6</ion-select-option>
          <ion-select-option value="7">7</ion-select-option>
          <ion-select-option value="8">8</ion-select-option>
          <ion-select-option value="9">9</ion-select-option>
          <ion-select-option value="10">10</ion-select-option>
          <ion-select-option value="11">11</ion-select-option>
          <ion-select-option value="12">12</ion-select-option>
          <ion-select-option value="13">13</ion-select-option>
          <ion-select-option value="14">14</ion-select-option>
          <ion-select-option value="15">15</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>{{array[0].alta_mesa_TextoFormulario_tipo_de_mesa}}</ion-label>
          <ion-select [(ngModel)]="tipo" value="brown" okText="{{array[0].alta_mesa_btn_Aceptar}}" cancelText="{{array[0].alta_mesa_btn_Cancelar}}" placeholder="{{array[0].alta_mesa_TextoFormulario_PlaceholderseleccionartipoDemesa}}">
            <ion-select-option value="Vip">{{array[0].alta_mesa_TextoFormulario_select_Option_VIP}}</ion-select-option>
            <ion-select-option value="Fumadores">{{array[0].alta_mesa_TextoFormulario_select_Option_Fumadores}}</ion-select-option>
            <ion-select-option value="Discapacitados">{{array[0].alta_mesa_TextoFormulario_select_Option_Discapacitados}}</ion-select-option>
            <ion-select-option value="Normal">{{array[0].alta_mesa_TextoFormulario_select_Option_Normal}}</ion-select-option>
          </ion-select>
        </ion-item>

          <ion-item>
            <ion-button (click)="fotoService.takePicture()">
              <ion-icon slot="icon-only" name="camera"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-grid>
            <ion-row>
              <ion-col size="6" *ngFor="let photo of fotoService.photos">
                <img [src]="photo.data" />
              </ion-col>
            </ion-row>
          </ion-grid>

    <ion-button
      expand="block"
      (click)="cargarMesa(codigo, cantPersonas, tipo)">
      {{array[0].Alta_Cliente_btn_Guardar}}
    </ion-button>
  </div>


  <ion-card *ngFor="let item of mesas">
    <span *ngIf="!item.isEdit; else elseBlock">
      <ion-card-header>
        <ion-card-title> Mesa {{item.codigo}} - {{item.tipo}} </ion-card-title>
        <ion-card-subtitle>{{array[0].alta_mesa_Listado_Estado}}: {{item.estado}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
          <ion-button shape="round" color="secondary" size="small" (click)="EditRecord(item)">
              <ion-icon size="small" slot="icon-only" name="create"></ion-icon>
            </ion-button>
            <ion-button shape="round" color="danger" size="small" (click)="RemoveRecord(item.id)">
              <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>
            </ion-button>
      </ion-card-content>
    </span>
    <ng-template #elseBlock>
      <ion-card-header>
        <ion-card-title>
          <ion-grid>
            <ion-row>
              <ion-col>
               {{array[0].alta_mesa_Listado_Editar}}
              </ion-col>
              <ion-col>
              </ion-col>
              <ion-col>
                <ion-button expand="block" color="success" size="small" (click)="UpdateRecord(item)">
                  {{array[0].alta_mesa_btn_Aceptar}}
                </ion-button>
                <ion-button expand="block" color="danger" size="small" (click)="item.isEdit = false">
                  {{array[0].alta_mesa_btn_Cancelar}}
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label><strong>{{array[0].alta_mesa_TextoFormulario_codigo_de_mesa}}</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.EditCodigo"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>{{array[0].alta_mesa_TextoFormulario_tipo_de_mesa}}</ion-label>
              <ion-select [(ngModel)]="item.EditTipo" value="brown" okText="{{array[0].alta_mesa_btn_Aceptar}}" cancelText="{{array[0].alta_mesa_btn_Cancelar}}" placeholder="{{array[0].alta_mesa_TextoFormulario_PlaceholderseleccionartipoDemes}}">
                <ion-select-option value="Vip">{{array[0].alta_mesa_TextoFormulario_select_Option_VIP}}</ion-select-option>
                <ion-select-option value="Fumadores">{{array[0].alta_mesa_TextoFormulario_select_Option_Fumadores}}</ion-select-option>
                <ion-select-option value="Discapacitados">{{array[0].alta_mesa_TextoFormulario_select_Option_Discapacitados}}</ion-select-option>
                <ion-select-option value="Normal">{{array[0].alta_mesa_TextoFormulario_select_Option_Normal}}</ion-select-option>
              </ion-select>
            </ion-item>
    
              <ion-item>
                <ion-button (click)="fotoService.takePicture()">
                  <ion-icon slot="icon-only" name="camera"></ion-icon>
                </ion-button>
              </ion-item>
              <ion-grid>
                <ion-row>
                  <ion-col size="6" *ngFor="let photo of fotoService.photos">
                    <img [src]="photo.data" />
                  </ion-col>
                </ion-row>
              </ion-grid>

      </ion-card-content>
    </ng-template>
  </ion-card>


</ion-content>
