<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  routerLink="/home/{{this.idiomaSeleccionado}}"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>{{array[0].abrir_mesa_titulo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <img class = "icon" src="assets/icon/mesa1.png">
  <div class="" *ngIf="loading">
      <ion-spinner name="dots" color="dark" ></ion-spinner>
  </div>
  <div class="" *ngIf="!loading">

  </div>

  <ion-card *ngFor="let item of mesas">
    <span *ngIf="!item.isEdit; else elseBlock">
      <ion-card-header>
        <ion-card-title> {{array[0].abrir_mesa_mesa}} {{item.codigo}} - {{item.tipo}} </ion-card-title>
        <ion-card-subtitle>{{array[0].abrir_mesa_select_option_estado}}: {{item.estado}} </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
          <ion-button shape="round" color="secondary" size="small" (click)="EditRecord(item)">
              <ion-icon size="small" slot="icon-only" name="create"></ion-icon>
            </ion-button>
            <ion-button shape="round" color="secondary" size="small" (click)="EditRecord(item)">
             {{array[0].abrir_mesa_btn_limpiarDatos}}
            </ion-button>
           
      </ion-card-content>
    </span>
    <ng-template #elseBlock>
      <ion-card-header>
        <ion-card-title>
          <ion-grid>
            <ion-row>
              <ion-col>
                {{array[0].abrir_mesa_titulo}}
              </ion-col>
              <ion-col>
              </ion-col>
              <ion-col>
                <ion-button expand="block" color="success" size="small" (click)="UpdateRecord(item)">
                  {{array[0].alta_mesa_btn_Aceptar}}
                </ion-button>
                <ion-button expand="block" color="danger" size="small" (click)="item.isEdit = false">
                  {{array[0].alta_mesa_btn_Cancelar}}
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
            <ion-item>
              <ion-label>{{array[0].alta_mesa_Listado_Estado}}</ion-label>
                <ion-select [(ngModel)]="item.EditEstado" value="brown" okText="{{array[0].alta_mesa_btn_Aceptar}}" cancelText="{{array[0].alta_mesa_btn_Cancelar}}" placeholder="{{array[0].alta_mesa_Listado_Estado}}">
                  <ion-select-option value="Ocupado">{{array[0].abrir_mesa_select_option_ocupado}}</ion-select-option>
                  <ion-select-option value="Disponible">{{array[0].abrir_mesa_select_option_disponible}}</ion-select-option>
                  <ion-select-option value="Reservada">{{array[0].abrir_mesa_select_option_reservada}}</ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item>
                <ion-label><strong>{{array[0].abrir_mesa_select_option_cliente}}</strong></ion-label>
                <ion-input type="text" [(ngModel)]="item.EditCliente"></ion-input>
              </ion-item>
      </ion-card-content>
    </ng-template>
  </ion-card>


</ion-content>
