<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button routerLink="/home/{{this.idiomaSeleccionado}}"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>{{array[0].cargar_pedido}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!--<img class = "icon" src="assets/icon/mesa1.png">-->
  <div class="" *ngIf="loading">
      <ion-spinner name="dots" color="dark" ></ion-spinner>
  </div>
  <div class="" *ngIf="!loading">

    <ion-item>
        <ion-label>{{array[0].abrir_mesa_mesa}}</ion-label>
        <ion-select  disabled ="{{isEnabled}}"  [(ngModel)]="mimesa" okText="{{array[0].Seleccionar}}" (ngModelChange)="montoMesa()" cancelText="{{array[0].comida_create_Select_Boton_Cancelar}}" >
            <ion-select-option  *ngFor="let item of  mesas" value="{{item.id}}"> {{array[0].abrir_mesa_mesa}} {{item.codigo}} - {{item.tipo}}</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{array[0].Monto_Acumulado_Mesa}}</ion-label>
      <ion-input readonly=true
        [(ngModel)]="montoTotal" value={{monto}}
        type="text"
       >
      </ion-input>
    </ion-item>

    <ion-item>
        <ion-label>{{array[0].Producto}}</ion-label>
        <ion-select [(ngModel)]="codigoProducto" okText="{{array[0].Seleccionar}}"  (ngModelChange)="calcularprecio()" 
         cancelText="{{array[0].comida_create_Select_Boton_Cancelar}}" >
            <ion-select-option  *ngFor="let item of  comidasList" value="{{item.id}}"  > {{item.name}}</ion-select-option>
        </ion-select>
    </ion-item>


    <ion-item>
    <ion-input disabled=true
    [(ngModel)]="precioUnitario"
    type="text" value={{comidaActual?.price}}  (ngModelChange)="cambioproducto()"
   >  <p>{{array[0].comida_list_Precio}}: <strong>${{comidaActual?.price | currency}}</strong></p></ion-input>

      </ion-item>
    <ion-card-header>
        <ion-label position="stacked">{{array[0].Cantidad}}</ion-label>

      <ion-card-title>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button color="success" size="small" (click)="increment()">
                  <ion-icon ios="ios-arrow-dropleft-circle" md="md-arrow-dropleft-circle"></ion-icon>
              </ion-button>
              <ion-input
              [(ngModel)]="cantidad"
              type="text"
             >
            </ion-input>
              <ion-button  color="danger" size="small" (click)="decrement()">
                  <ion-icon ios="ios-arrow-dropright-circle" md="md-arrow-dropright-circle"></ion-icon>
              </ion-button>            </ion-col>
            <ion-col>
            </ion-col>
            <ion-col>
            </ion-col>
            <ion-col>

            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-title>
    </ion-card-header>

    <ion-item>
      <ion-label position="stacked">{{array[0].alta_pedido_Precio_total_Pedid}}</ion-label>
      <ion-input
        [(ngModel)]="preciototalpedido" readonly=true
        type="text"
        >
      </ion-input>
    </ion-item>

    <ion-button
      expand="block"
      (click)="cargarPedido(codigoMesa, codigoProducto, cantidad, tipo,detalle, idMozo,preciototalpedido)">
      {{array[0].alta_pedido_Cuenta}}
    </ion-button>

    <ion-button
  expand="block"  routerLink="/cuenta/{{this.idiomaSeleccionado}}">
  {{array[0].alta_pedido_Guardar}}
</ion-button>
  </div>
  

  <ion-card *ngFor="let item of pedidos">
    <span *ngIf="!item.isEdit; else elseBlock">
      <ion-card-header>
        <ion-card-title> {{array[0].alta_pedido_pedido}} {{item.codigoPedido}} - {{item.tipoPedido}} </ion-card-title>
        <ion-card-subtitle>{{array[0].abrir_mesa_select_option_estado}}: {{item.estadoPedido}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
          <ion-button shape="round" color="secondary" size="small" (click)="EditRecord(item)">
              <ion-icon size="small" slot="icon-only" name="create"></ion-icon>
            </ion-button>
            <ion-button shape="round" color="danger" size="small" (click)="RemoveRecord(item.id)">
              <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>
            </ion-button>
      </ion-card-content>
    </span>
    <ng-template #elseBlock>
      <ion-card-header>
        <ion-card-title>
          <ion-grid>
            <ion-row>
              <ion-col>
                {{array[0].Editar_Pedido}}
                }}
              </ion-col>
              <ion-col>
              </ion-col>
              <ion-col>
                <ion-button expand="block" color="success" size="small" (click)="UpdateRecord(item)">
                  {{array[0].comida_create_Select_Boton_Aceptar}}
                </ion-button>
                <ion-button expand="block" color="danger" size="small" (click)="item.isEdit = false">
                  {{array[0].comida_create_Select_Boton_Cancelar}}
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label><strong>{{array[0].comida_create_FormularioTextCodigo}}</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.EditCodigo"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>{{array[0].tipo_de_pedido }}</ion-label>
              <ion-select [(ngModel)]="item.EditTipo" value="brown" okText="{{array[0].comida_create_Select_Boton_Aceptar}}" cancelText="{{array[0].comida_create_Select_Boton_Cancelar}}" placeholder="Seleccione tipo de pedido">
                <ion-select-option value="Bebida">{{array[0].comida_create_Select_PlaceHolder_Bebida}}</ion-select-option>
                <ion-select-option value="Cocina">{{array[0].comida_create_Select_PlaceHolder_Comida}}</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item>
            <ion-label>Estado</ion-label>
            <ion-select [(ngModel)]="item.EditEstado" value="brown" okText="{{array[0].comida_create_Select_Boton_Aceptar}}" cancelText="{{array[0].comida_create_Select_Boton_Cancelar}}" placeholder="Seleccione estado de pedido">
              <ion-select-option value="Entregado">{{array[0].alta_pedido_Entregado}}</ion-select-option>
            </ion-select>
          </ion-item>

      </ion-card-content>
    </ng-template>
  </ion-card>


</ion-content>
