<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
      <ion-title>{{array[0].home_btn_TomarPedido}}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
 
  
    <ion-card *ngFor="let item of pedidos"  >
      <div *ngIf="item?.tipoPedido =='cocina'||item?.tipoPedido =='postre' " >
            <span *ngIf="!item.isEdit; else elseBlock" >
        <ion-card-header>
          <ion-card-title> {{array[0].tomarpedidos_titulo}} {{item.codigoPedido}} - {{item.tipoPedido}} </ion-card-title>
          <ion-card-subtitle>{{array[0].Estado}}: {{item.estadoPedido}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content  >
            <ion-button shape="round" color="secondary" size="small" (click)="EditRecord(item)">
                <ion-icon size="small" slot="icon-only" name="create"></ion-icon>
              </ion-button>
             
        </ion-card-content>
      </span>
      <ng-template #elseBlock>
        <ion-card-header>
          <ion-card-title>
            <ion-grid>
              <ion-row>
                <ion-col>
                  {{array[0].Editar_pedido}}
                </ion-col>
                <ion-col>
                </ion-col>
                <ion-col>
                  <ion-button expand="block" color="success" size="small" (click)="UpdateRecord(item)">
                    {{array[0].alta_mesa_btn_Aceptar}}
                  </ion-button>
                  <ion-button expand="block" color="danger" size="small" (click)="item.isEdit = false">
                 
                    {{array[0].alta_mesa_btn_Cancelar}}

                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-label><strong>{{array[0].comida_create_FormularioTextCodigo}}</strong></ion-label>
            <ion-input type="text" [(ngModel)]="item.EditCodigo"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label>Tiempo</ion-label>
                <ion-select [(ngModel)]="item.EditTipo" value="brown" okText="{{array[0].comida_create_Select_Boton_Aceptar}}" cancelText="{{array[0].comida_create_Select_Boton_Cancelar}}" placeholder="{{array[0].comida_detail_Tiempo}}:">
                    <ion-select-option value="5">5"</ion-select-option>
                    <ion-select-option value="10">10"</ion-select-option>
                    <ion-select-option value="15">15"</ion-select-option>
                    <ion-select-option value="20">20"</ion-select-option>
                    <ion-select-option value="30">30"</ion-select-option>
                    <ion-select-option value="40">40"</ion-select-option>
                    <ion-select-option value="50">50"</ion-select-option>
                    <ion-select-option value="60">1 hs</ion-select-option>
                             </ion-select>
              </ion-item>
  
              <ion-item>
              <ion-label>{{array[0].Estado}}</ion-label>
              <ion-select [(ngModel)]="item.EditEstado" value="brown" okText="{{array[0].alta_mesa_btn_Aceptar}}" cancelText="{{array[0].alta_mesa_btn_Cancelar}}" placeholder="{{array[0].alta_pedido_Seleccione_estado_de_pedido}}">
                <ion-select-option value="Realizado">{{array[0].alta_pedido_Entregado}}</ion-select-option>
              </ion-select>
            </ion-item>
  
        </ion-card-content>
      </ng-template>
    </div>
  
    </ion-card>
  
  
  </ion-content>