<ion-header>
  <ion-toolbar>
    <ion-title>qrpropina</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button expand="block" color="primary" (click)="excelente()">
    Excelente
  </ion-button>
  <ion-button expand="block" color="primary" (click)="muyBueno()">
    Muy Bien!
  </ion-button>
  <ion-button expand="block" color="primary" (click)="Bueno()">
    Bien
  </ion-button>
  <ion-button expand="block" color="primary" (click)="Regular()">
    Regular
  </ion-button>
  <ion-button expand="block" color="primary" (click)="Malo()">
   Malo
  </ion-button>
</ion-content>
