<ion-header>
  <ion-toolbar>
    <ion-buttons slot="star">
      <ion-back-button  routerLink="/home/{{this.idiomaSeleccionado}}"></ion-back-button>
    </ion-buttons>
    <ion-title>{{array[0].HacetuReserva}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="" *ngIf="loading">
      <ion-spinner name="dots" color="dark" ></ion-spinner>
  </div>
  <ion-card >
  
    <ion-item>
      <ion-label>{{array[0].ElegirFecha}}</ion-label>
      <ion-datetime displayFormat="YYYY/MM/DD/" [(ngModel)]="myDate">
      </ion-datetime>
    </ion-item>

<ion-item><ion-label>{{array[0].Hora}} </ion-label>
<select style="background-color: aqua; font-size: 46px;margin-left:260px" [(ngModel)]="horaselect" >
    <option  value="{{item}}" *ngFor="let item of horareserva" >{{item}}</option>
    
  </select>
  
</ion-item>
<ion-item><ion-label>{{array[0].Minuto}} </ion-label>
  <select style="background-color: aqua; font-size: 46px;margin-left:260px" [(ngModel)]="minutoselect" >
      <option  value="{{item}}" *ngFor="let item of minutoreserva" >{{item}}</option>
      
    </select>
    
  </ion-item>

  <ion-item>
    <ion-label>{{array[0].alta_mesa_TextoFormulario_cantidad_de_personas}}</ion-label>
      <ion-select [(ngModel)]="cantPersonas" value="brown" okText="{{array[0].alta_mesa_btn_Aceptar}}" cancelText="{{array[0].alta_mesa_btn_Cancelar}}" placeholder="{{array[0].alta_mesa_TextoFormulario_PlaceholderseleccionarCantidadDePersonas}}">
        <ion-select-option value="1">1</ion-select-option>
        <ion-select-option value="2">2</ion-select-option>
        <ion-select-option value="3">3</ion-select-option>
        <ion-select-option value="4">4</ion-select-option>
        <ion-select-option value="5">5</ion-select-option>
        <ion-select-option value="6">6</ion-select-option>
        <ion-select-option value="7">7</ion-select-option>
        <ion-select-option value="8">8</ion-select-option>
        <ion-select-option value="9">9</ion-select-option>
        <ion-select-option value="10">10</ion-select-option>
        <ion-select-option value="11">11</ion-select-option>
        <ion-select-option value="12">12</ion-select-option>
        <ion-select-option value="13">13</ion-select-option>
        <ion-select-option value="14">14</ion-select-option>
        <ion-select-option value="15">15</ion-select-option>
      </ion-select>
    </ion-item>



<ion-button
expand="block"
(click)="diferencia()">
{{array[0].alta_mesa_btn_Aceptar}}
</ion-button>

   </ion-card>




  <ion-button
      expand="block"
      (click)="hacerReserva(codigoMesa)">
      {{array[0].alta_pedido_Guardar}}
    </ion-button>
  

</ion-content>