<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Hace tu Reserva!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="" *ngIf="loading">
      <ion-spinner name="dots" color="dark" ></ion-spinner>
  </div>
  <ion-card >
  
    <ion-item>
      <ion-label>ELIGE FECHA DE RESERVA (AÑO-MES-DIA)</ion-label>
      <ion-datetime displayFormat="YYYY/MM/DD/" [(ngModel)]="myDate">
      </ion-datetime>
    </ion-item>

<ion-item><ion-label>Hora </ion-label>
<select style="background-color: aqua; font-size: 46px;margin-left:260px" [(ngModel)]="horaselect" >
    <option  value="{{item}}" *ngFor="let item of horareserva" >{{item}}</option>
    
  </select>
  
</ion-item>
<ion-item><ion-label>Minuto </ion-label>
  <select style="background-color: aqua; font-size: 46px;margin-left:260px" [(ngModel)]="minutoselect" >
      <option  value="{{item}}" *ngFor="let item of minutoreserva" >{{item}}</option>
      
    </select>
    
  </ion-item>

  <ion-item>
    <ion-label>Cantidad de personas</ion-label>
      <ion-select [(ngModel)]="cantPersonas" value="brown" okText="Aceptar" cancelText="Cancelar" placeholder="Seleccione cantidad de personas">
        <ion-select-option value="1">1</ion-select-option>
        <ion-select-option value="2">2</ion-select-option>
        <ion-select-option value="3">3</ion-select-option>
        <ion-select-option value="4">4</ion-select-option>
        <ion-select-option value="5">5</ion-select-option>
        <ion-select-option value="6">6</ion-select-option>
        <ion-select-option value="7">7</ion-select-option>
        <ion-select-option value="8">8</ion-select-option>
        <ion-select-option value="9">9</ion-select-option>
        <ion-select-option value="10">10</ion-select-option>
        <ion-select-option value="11">11</ion-select-option>
        <ion-select-option value="12">12</ion-select-option>
        <ion-select-option value="13">13</ion-select-option>
        <ion-select-option value="14">14</ion-select-option>
        <ion-select-option value="15">15</ion-select-option>
      </ion-select>
    </ion-item>



<ion-button
expand="block"
(click)="diferencia()">
Guardar
</ion-button>

   </ion-card>


  <ion-item>
    <ion-label>Mesa</ion-label>
    <ion-select [(ngModel)]="codigoMesa" ok-text="Seleccionar" (ngModelChange)="montoMesa()" cancel-text="Cancelar" >
        <ion-select-option  *ngFor="let item of  mesas" value="{{item.id}}"> Mesa {{item.codigo}} - {{item.tipo}}</ion-select-option>
    </ion-select>
</ion-item>

  <ion-button
      expand="block"
      (click)="hacerReserva(codigoMesa)">
      Guardar
    </ion-button>
  

</ion-content>