<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar Empleado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <img class = "icon" src="assets/icon/empleados2.png">

  <ion-item>
    <ion-label>Premios</ion-label>
    <ion-select [(ngModel)]="premio" ok-text="Seleccionar" cancel-text="Cancelar" >
        <ion-select-option *ngFor="let item of  empleados" value="{{item.nombre}}">{{item.apellido}}</ion-select-option>
    </ion-select>
</ion-item>

  <div class="" *ngIf="loading">
    <ion-spinner name="dots" color="dark" ></ion-spinner>
  </div>
  <div class="" *ngIf="!loading">
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input
        [(ngModel)]="nombre"
        type="text"
        placeholder="Ingrese Nombre"
        >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Apellido</ion-label>
      <ion-input
        [(ngModel)]="apellido"
        type="text"
        placeholder="Ingrese Apellido"
        >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input
        [(ngModel)]="email"
        type="text"
        placeholder="Ingrese Email"
        >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">DNI</ion-label>
      <ion-input
        [(ngModel)]="dni"
        type="text"
        placeholder="Ingrese DNI"
        >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">CUIL</ion-label>
      <ion-input
      [(ngModel)]="cuil"
      type="text"
      placeholder="Ingrese CUIL"
      >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Tipo de empleado</ion-label>
      <ion-select [(ngModel)]="perfil" value="brown" okText="Aceptar" cancelText="Cancelar" placeholder="Seleccione cantidad de personas">
        <ion-select-option value="cocinero">Cocinero</ion-select-option>
        <ion-select-option value="bartender">Bartender</ion-select-option>
        <ion-select-option value="Mozo">Mozo</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-button (click)="fotoService.takePicture()">
        <ion-icon slot="icon-only" name="camera"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let photo of fotoService.photos">
          <img [src]="photo.data" />
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-button
      expand="block"
      (click)="cargarEmpleado(nombre, apellido, email, dni, cuil, perfil)" [disabled]="!nombre || !apellido || !dni">
      Guardar
    </ion-button>

    <ion-button 
    expand ="block"
    (click)= "scanCodepag()">
    Scannear QR
  </ion-button>
  </div>

<ion-card *ngFor="let item of empleados">
    <span *ngIf="!item.isEdit; else elseBlock">
      <ion-card-header>
        <ion-card-title>{{item.nombre}}  {{item.apellido}} </ion-card-title>
        <ion-card-subtitle>Email: {{item.email}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>

        <ion-button shape="round" color="secondary" size="small" (click)="EditRecord(item)">
          <ion-icon size="small" slot="icon-only" name="create"></ion-icon>
        </ion-button>
        <ion-button shape="round" color="danger" size="small" (click)="RemoveRecord(item.id)">
          <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>
        </ion-button>
      
      </ion-card-content>
    </span>
    <ng-template #elseBlock>
      <ion-card-header>
        <ion-card-title>
          <ion-grid>
            <ion-row>
              <ion-col>
                Editar Empleado
              </ion-col>
              <br>
              <ion-col>
              </ion-col>
              <ion-col>
                <ion-button expand="block" color="success" size="small" (click)="UpdateRecord(item)">
                  Confirmar
                </ion-button>
                <ion-button expand="block" color="danger" size="small" (click)="item.isEdit = false">
                  Cancelar
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label><strong>Nombre</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.EditNombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label><strong>Apellido</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.EditApellido"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label><strong>Dni</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.EditDni"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label><strong>Cuil</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.EditCuil"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label><strong>Perfil</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.EditPerfil"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label><strong>Email</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.EditEmail"></ion-input>
        </ion-item>
        <ion-item>
          <ion-button (click)="fotoService.takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size="6" *ngFor="let photo of fotoService.photos">
              <img [src]="photo.data" />
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ng-template>
  </ion-card>


</ion-content>
