<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button routerLink="/home/{{this.idiomaSeleccionado}}"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>{{array[0].alta_empleado_Titulo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <img class = "icon" src="assets/icon/empleados2.png">

  <div class="" *ngIf="loading">
    <ion-spinner name="dots" color="dark" ></ion-spinner>
  </div>

  <div class="" *ngIf="!loading">

    <ion-item>
        <ion-label position="stacked">{{array[0].alta_empleado_Formulario_Nombre}}</ion-label>
          <ion-input
            [(ngModel)]="unUsuario.nombre"
            type="text"
            name="nombre"
            placeholder="{{array[0].alta_empleado_Formulario_Nombre}}"
          >
        </ion-input>
      </ion-item>

      <ion-item>
          <ion-label position="stacked">{{array[0].alta_empleado_Formulario_Apellido}}</ion-label>
            <ion-input
              [(ngModel)]="unUsuario.apellido"
              type="text"
              placeholder="{{array[0].alta_empleado_Formulario_Apellido}}"
              name="apellido"
            >
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">{{array[0].Alta_empleado_Formulario_PlaceHolder_IngreseDni}}</ion-label>
              <ion-input
                [(ngModel)]="unUsuario.dni"
                type="text"
                placeholder="{{array[0].Alta_empleado_Formulario_PlaceHolder_IngreseDni}}"
                name="dni"
              >
              </ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">{{array[0].alta_empleado_Formulario_Cuil}}</ion-label>
            <ion-input
            [(ngModel)]="unUsuario.cuil"
            type="text"
            placeholder="{{array[0].Alta_empleado_Formulario_PlaceHolder_IngreseCuil}}"
            >
            </ion-input>
          </ion-item>

        <ion-item>
          <ion-label position="stacked">{{array[0].Alta_empleado_Formulario_PlaceHolder_IngresarCorreo}}</ion-label>
          <ion-input
            [(ngModel)]="unUsuario.email"
            type="text"
            placeholder="{{array[0].Alta_empleado_Formulario_PlaceHolder_IngresarCorreo}}"
            name="correo"
          >
          </ion-input>
        </ion-item>

        <ion-item>
            <ion-label>{{array[0].Alta_empleado_Formulario_PlaceHolder_TipoEmpleado}}</ion-label>
            <ion-select [(ngModel)]="unUsuario.perfil" value="brown" okText="{{array[0].Alta_Cliente_btn_Guardar}}" cancelText="{{array[0].alta_mesa_btn_Cancelar}}" placeholder="{{array[0].Alta_empleado_Formulario_PlaceHolder_SeleccioneTipoEmpleado}}">
              <ion-select-option value="cocinero">{{array[0].Alta_empleado_Formulario_Option_Cocinero}}</ion-select-option>
              <ion-select-option value="bartender">{{array[0].Alta_empleado_Formulario_Option_Bartender}}</ion-select-option>
              <ion-select-option value="Mozo">{{array[0].Alta_empleado_Formulario_Option_Mozo}}</ion-select-option>
            </ion-select>
          </ion-item>

        <ion-item>
            <ion-button (click)="SacarFoto()">
              <ion-icon slot="icon-only" name="camera"></ion-icon>
            </ion-button>
        </ion-item>

        <ion-button
          expand="block"
          (click)="scanear()"
        >
        {{array[0].alta_empleado_Formulario_BTN_ScannerDNI}}
        </ion-button>

        <ion-button
        expand="block"
        (click)="enviar()"
        >
        {{array[0].alta_mesa_btn_Aceptar}}
      </ion-button>

    </div>

    
<!--
<ion-card *ngFor="let item of empleados">
    <span *ngIf="!item.isEdit; else elseBlock">
      <ion-card-header>
        <ion-card-title>{{item.nombre}}  {{item.apellido}} </ion-card-title>
        <ion-card-subtitle>Email: {{item.email}}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>

        <ion-button shape="round" color="secondary" size="small" (click)="EditRecord(item)">
          <ion-icon size="small" slot="icon-only" name="create"></ion-icon>
        </ion-button>
        <ion-button shape="round" color="danger" size="small" (click)="RemoveRecord(item.id)">
          <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>
        </ion-button>
      
      </ion-card-content>
    </span>

    <ng-template #elseBlock>
    
      <ion-card-header>
        <ion-card-title>
          <ion-grid>
            <ion-row>
              <ion-col>
                Editar Empleado
              </ion-col>
              <br>
              <ion-col>
              </ion-col>
              <ion-col>
                <ion-button expand="block" color="success" size="small" (click)="UpdateRecord(item)">
                  Confirmar
                </ion-button>
                <ion-button expand="block" color="danger" size="small" (click)="item.isEdit = false">
                  Cancelar
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>

        <ion-item>
          <ion-label><strong>Nombre</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.EditNombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label><strong>Apellido</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.EditApellido"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label><strong>Dni</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.EditDni"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label><strong>Cuil</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.EditCuil"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label><strong>Perfil</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.EditPerfil"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label><strong>Email</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.EditEmail"></ion-input>
        </ion-item>
        <ion-item>
          <ion-button (click)="fotoService.takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size="6" *ngFor="let photo of fotoService.photos">
              <img [src]="photo.data" />
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>

    </ng-template>

  </ion-card>

-->


<ion-card *ngFor="let item of empleados">
    <span *ngIf="!item.isEdit; else elseBlock">
      <ion-card-header>
        <ion-card-title> {{array[0].Alta_empleado_ListadoFormulario_Empleado}} {{item.nombre}} - {{item.apellido}} </ion-card-title>
        <ion-card-subtitle>{{array[0].Alta_empleado_ListadoFormulario_Perfil}}: {{item.perfil}} - {{array[0].Alta_Cliente_Formulario_Texto_DNI}}: {{item.dni}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
            <ion-button shape="round" color="danger" size="small" (click)="RemoveRecord(item.id)">
              <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>
            </ion-button>
      </ion-card-content>
    </span>
    
  </ion-card>

</ion-content>
