<ion-header>
  <ion-toolbar>
    <ion-title>{{array[0].tipo_registro_titulo_tiporegistro}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <br>
    <img class = "icon" src="assets/icon/empleados2.png">
  <div class="" *ngIf="loading">
      <ion-spinner name="dots" color="dark" ></ion-spinner>
  </div>

  <br>
  <ion-button
  expand="block"
  routerLink="/alta-cliente/{{this.idiomaSeleccionado}}"
  >
  {{array[0].tipo_registro_btn_clienteRegistrado}}
  </ion-button>
<br>
  <ion-button
  expand="block"
  routerLink="/alta-anonimo/{{this.idiomaSeleccionado}}"
  >
  {{array[0].tipo_Registro_btn_clienteAnonimo}}
  </ion-button>


</ion-content>
