<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido {{userProfile?.perfil}}</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/profile">
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <img class = "icon" src="assets/icon/home1.png">

    <ion-label>
      <ion-grid>
        <ion-row>
          <ion-col class="text-left" size="5"> Usuario </ion-col>
          <ion-col class="text-center" size="7" *ngIf="userProfile?.email">
            {{userProfile?.email}}
          </ion-col>
          <ion-col
            size="7"
            class="placeholder-profile text-center"
            *ngIf="!userProfile?.email"
          >
            <span> Tap here to edit. </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-label>
  <ion-button    expand="block" color="primary" routerLink="/comida-list">
    Listado de comidas
  </ion-button>
  <ion-button expand="block"  *ngIf="userProfile?.perfil=='Supervisor'  " color="primary" routerLink="/alta-duenio">
    Alta Dueño/Supervisor
  </ion-button>
  <ion-button  *ngIf="userProfile?.perfil=='Supervisor' "  expand="block" color="primary" routerLink="/alta-mesa">
    Cargar Mesa
  </ion-button>
  <ion-button  *ngIf="userProfile?.perfil=='Supervisor' "expand="block" color="primary" routerLink="/alta-empleado">
    Alta de Empleado
  </ion-button>
  <ion-button  *ngIf="userProfile?.perfil=='Supervisor' " expand="block" color="primary" routerLink="/cliente-create">
    Cargar Cliente
  </ion-button>
  <ion-button  *ngIf="userProfile?.perfil=='Supervisor'|| userProfile?.perfil=='cliente' " expand="block" color="secondary" routerLink="/qrmesa">
    QRMesa
  </ion-button>
  <ion-button  *ngIf="userProfile?.perfil=='Supervisor'|| userProfile?.perfil=='cliente' " expand="block" color="secondary" routerLink="/qrpropina">
    QRPropina
  </ion-button>
  <ion-button  *ngIf="userProfile?.perfil=='Supervisor'|| userProfile?.perfil=='cliente' " expand="block" color="secondary" routerLink="/qringresolocal">
    QRIngresoLocal
  </ion-button>
  <ion-button  *ngIf="userProfile?.perfil=='Supervisor' || userProfile?.perfil=='mozo'  " expand="block" color="primary" routerLink="/abrir-mesa">
    Abrir o Reservar Mesa
  </ion-button>
  <ion-button  *ngIf="userProfile?.perfil=='Supervisor' || userProfile?.perfil=='mozo' " expand="block" color="primary" routerLink="/cerrar-mesa">
    Cerrar Mesa
  </ion-button>
  <ion-button  *ngIf="userProfile?.perfil=='mozo' || userProfile?.perfil=='Supervisor'  " expand="block" color="primary" routerLink="/tomarpedidos" >
   Tomar Pedido
   </ion-button>
   <ion-button  *ngIf=" userProfile?.perfil=='cliente' " expand="block" color="primary" routerLink="/alta-pedido">
     Alta Pedido
   </ion-button>
  <ion-button expand="block" color="primary" routerLink="/encuesta-empleado">
    Encuesta Empleado
  </ion-button>
  <ion-button expand="block" color="primary" routerLink="/juego-postre">
    Juego
  </ion-button>
  <ion-button expand="block" color="primary" routerLink="/adivinar-numero">
    Adivinar Numero
  </ion-button>
  <ion-button expand="block" color="primary" routerLink="/reserva-cliente">
    Reserva Cliente
  </ion-button>
  <ion-button *ngIf="userProfile?.perfil=='Supervisor' " expand="block" color="primary" routerLink="/ingreso">
   Listado Ingreso
  </ion-button>
  <ion-button *ngIf="userProfile?.perfil=='cocinero' || userProfile?.perfil=='bartender' " expand="block" color="primary" routerLink="/tomarpedidococina">
  Pedido Cocinero
  </ion-button>
  <ion-button *ngIf="userProfile?.perfil=='cocinero' || userProfile?.perfil=='bartender' " expand="block" color="primary" routerLink="/carta">
   Carta
    </ion-button>


</ion-content>
