<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
      <ion-title>{{array[0].alta_anonimo_titulo}}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
    <img class = "icon" src="assets/icon/empleados2.png">
  
    <div class="" *ngIf="loading">
      <ion-spinner name="dots" color="dark" ></ion-spinner>
    </div>
  
  
  <div class="" *ngIf="!loading">
  
  <ion-item>
    <ion-label position="stacked">{{array[0].alta_anonimo_TextoFormulario_nombre}}</ion-label>
      <ion-input
        [(ngModel)]="unUsuario.nombre"
        type="text"
        name="nombre"
        placeholder="{{array[0].alta_anonimo_PlaceHolderNombre}}"
      >
    </ion-input>
  </ion-item>
  
  <ion-item>
      <ion-label position="stacked">{{array[0].alta_anonimo_TextoFormularioCorreo}}</ion-label>
        <ion-input
          [(ngModel)]="unUsuario.email"
          type="text"
          placeholder="{{array[0].alta_anonimo_PlaceHolderCorreo}}"
          name="correo"
        >
        </ion-input>
  </ion-item>
  
  <ion-item>
        <ion-label position="stacked">{{array[0].login_PlaceHolder_Ingrese_clave}}</ion-label>
          <ion-input
            [(ngModel)]="unUsuario.clave"
            type="text"
            placeholder="{{array[0].alta_anonimo_PlaceHolderIngreseClave}}"
            name="clave"
          >
        </ion-input>
  </ion-item>
  
  <ion-item>
      <ion-button (click)="SacarFoto()">
        <ion-icon slot="icon-only" name="camera"></ion-icon>
      </ion-button>
  </ion-item>

  
  <ion-button
    expand="block"
    (click)="enviar()"
    >
    {{array[0].Alta_Cliente_btn_Guardar}}
  </ion-button>
  
  </div>
  </ion-content>