<ion-header>
  <ion-toolbar>
      <ion-back-button routerLink="/home/{{this.idiomaSeleccionado}}" ></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- <ion-button expand="block" color="primary" routerLink="/encuesta-graficos/{{this.idiomaSeleccionado}}">
    {{array[0].graficos}}
  </ion-button> -->
  <div class="" *ngIf="loading">
      <ion-spinner name="dots" color="dark" ></ion-spinner>
  </div>
  <div class="" *ngIf="!loading">
    <div tappable *ngIf="alerta" (click)="apagar()" >
      <ion-label color="danger" class="ion-text-center" >
        <h2 >{{arrayTODOS}}</h2>
      </ion-label>
    </div>
    <ion-list>
      <ion-radio-group  [(ngModel)]="unidad">
        <ion-label position="stacked">{{array[0].Turno}}:</ion-label>
        <ion-item>
          <ion-label>{{array[0].Manana}}</ion-label>
          <ion-radio slot="start" value="mañana" checked></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>{{array[0].Mediodia}}</ion-label>
          <ion-radio slot="start" value="mediodia"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>{{array[0].Noche}}</ion-label>
          <ion-radio slot="start" value="noche"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <ion-list >
      <ion-item>
        <ion-label position="stacked">{{array[0].Comorecibioelareadetrabajo}}:</ion-label>
        <ion-select  [(ngModel)]="select" value="normal" okText="{{array[0].comida_create_Select_Boton_Aceptar}}" cancelText="{{array[0].comida_create_Select_Boton_Cancelar}}">
          <ion-select-option value="impecable">{{array[0].Impecable}}</ion-select-option>
          <ion-select-option value="limpio">{{array[0].Limpio}}</ion-select-option>
          <ion-select-option value="normal">{{array[0].Normal}}</ion-select-option>
          <ion-select-option value="sucio">{{array[0].sucio}}</ion-select-option>
          <ion-select-option value="asqueroso">{{array[0].asqueroso}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-label position="stacked">{{array[0].Niveldelimpieza}}:</ion-label>
      <ion-input [ngModel]="porcentaje" name='cantidad'></ion-input>
      <ion-range [(ngModel)]="porcentaje" min="0" max="100" step="10" snaps="true" color="dark"></ion-range>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">{{array[0].CantidaddeFaltasencontradas}}:</ion-label>
      <ion-input [(ngModel)]="cantidad" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">{{array[0].Comentarios}}:</ion-label>
      <ion-input [(ngModel)]="texto" type="text" ></ion-input>
    </ion-item>

    <ion-item >
      <ion-button (click)="fotoService.tomarFoto()" *ngIf="!fotoService.fotoUnica">
        <ion-icon slot="icon-only" name="camera"></ion-icon>
      </ion-button>
      <ion-grid>
        <ion-row>
          <ion-col size="3" *ngIf="fotoService.fotoUnica">
          <img [src]="fotoService.fotoUnica" />
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-button
      expand="block"
      (click)="crearEncuesta( unidad,select, porcentaje, cantidad, texto)"
    >
      {{array[0].alta_pedido_Guardar}}
    </ion-button>
  </div>
</ion-content>
